<footer class="footer-section">
    <div class="container-footer">
        <div class="footer-content">
            <div class="footer-col">
                <h3 class="footer-h3">Social Media</h3>
                <p class="footer-p">Triibu Marketing.<br>San Jose, California.</p>
                <div class="social-icons">
                    <a href="#"><img src="/assets/img/instagram.png" alt="Instagram"></a>
                    <a href="#"><img src="/assets/img/youtube.png" alt="YouTube"></a>
                    <a href="#"><img src="/assets/img/linkedin.png" alt="LinkedIn"></a>
                </div>
            </div>

            <div class="footer-col">
                <h3 class="footer-h3">Contact</h3>
                <a href="mailto:hello@triibumarketing.com" class="footer-link">hello@triibumarketing.com</a>
                <!-- <p class="footer-p">+1 (408) 398 3529</p> -->
            </div>
        </div>

        <div class="footer-bottom">
            <p>© 2026. All rights reserved.</p>
        </div>
    </div>
</footer>